<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>B</span>
  <span>SharePoint Importer</span>
  <div class="spacer"></div>
  <button type="button" class="selectable" [disabled]="!(selectedList | async)" (click)="unselect()">Auswahl l&ouml;schen</button>
</div>

<div class="content" role="main">
  <spi-list-selector></spi-list-selector>
  <hr>
  <ng-container *ngIf="(selectedList | async)">
    <spi-view-selector></spi-view-selector>
    <hr>
    <spi-import-table></spi-import-table>
  </ng-container>
  <!-- Footer -->
  <footer>
  </footer>

</div>
