<table>
    <tr>
        <th *ngFor="let column of columnsWithoutId">
            {{column.displayName}}
        </th>
    </tr>
    <tr *ngFor="let row of insertedRows">
        <td *ngFor="let cell of row">
            {{cell}}
        </td>
    </tr>
    <tr #row>
        <td #cell *ngFor="let column of columnsWithoutId"
            (focus)="setPasteIndex($event)"
            (focusout)="setPasteIndex($event)"
            (click)="cancelBubble($event)"
            (paste)="onPaste($event)"
            [tabindex]="row.rowIndex * columnsWithoutId.length + cell.cellIndex"
            [ngClass]="{selectable: selectedRow !== row.rowIndex || selectedCol !== cell.cellIndex, highlighted: selectedRow === row.rowIndex && selectedCol === cell.cellIndex}">
            &nbsp;
        </td>
    </tr>
</table>
