<table>
    <tr>
        <th *ngFor="let column of columnsWithoutId">
            {{column.displayName}}
        </th>
    </tr>
    <tr *ngFor="let row of rows">
        <td *ngFor="let cell of row.cells | keyvalue; let i = index">
            <ng-container *ngIf="i === 0">
                <span class="ok" *ngIf="row.success">&#10004;</span>
                <span class="error" *ngIf="row.error">X</span>
                <img src="assets/images/ajaxload.gif" *ngIf="row.working" />
            </ng-container>
            {{cell.value}}
        </td>
    </tr>
    <tr #row>
        <td #cell *ngFor="let column of columnsWithoutId"
            (focus)="setPasteIndex($event)"
            (focusout)="setPasteIndex($event)"
            (paste)="onPaste($event)"
            [tabindex]="row.rowIndex * columnsWithoutId.length + cell.cellIndex"
            [ngClass]="{selectable: selectedRow !== row.rowIndex || selectedCol !== cell.cellIndex, highlighted: selectedRow === row.rowIndex && selectedCol === cell.cellIndex}">
            &nbsp;
        </td>
    </tr>
</table>
