<div class="card-container" *ngIf="!disableSelection">
    <div class="card card-small selectable"
        [ngClass]="{'highlight-card': !selectedView}"
        (click)="selectedView = undefined">
        Ansichten: (ohne)
    </div>
    <div class="card card-small selectable"
        [ngClass]="{'highlight-card': selectedView?.id === view.id}"
        (click)="selectedView = view"
        *ngFor="let view of availableViews">
        {{view.name}}
    </div>
</div>
<div *ngIf="disableSelection">
    Ansicht: {{selectedView ?? '(ohne)'}}
</div>