$main-blue: #1976d2;
$light-blue: lighten($main-blue, 45%);
$dark-blue: darken($main-blue, 20%);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  hr {
    width: 100%;
  }

  input,
  select,
  button {
    margin: 0 0.5rem;
  }

  th {
    border-bottom: 0.5px solid $main-blue;
    padding: 0.5rem 1rem;
  }
  td {
    padding: 0.2rem;
  }
  td,
  th {
    outline: 0.5px dotted $main-blue;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: $main-blue;
    color: white;
    font-weight: 600;
  }

  .toolbar span:first-child {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 62px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 25px;
    min-width: 200px;
    margin: 0 8px 0px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 24px;
  }

  .selectable {
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:not(:disabled) {
        &:not(:focus):hover {
            transform: translateY(-3px);
            box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
        }
    
        &:focus {
            background-color: $light-blue;
        }
    }
  }

  .highlighted {
    background-color: $light-blue;
    border: 1px dashed $main-blue;
    color: black;
    font-weight: 600;
  }

  .card.selectable,
  button.selectable:not(:disabled) {
    cursor: pointer;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    min-width: 60px;
  }

  .card.highlight-card {
    background-color: $main-blue;
    color: white;
    font-weight: 600;
    border: none;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  a,
  a:visited,
  a:hover {
    color: $main-blue;
    text-decoration: none;
  }

  a:hover {
    color: $dark-blue;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .ok {
    background-color: #00bd00;
  }

  .error {
    background-color: #ff0000;
  }
  
  .ok,
  .error {
    color: white;
    border-radius: 50%;
    padding: 0 0.2rem;
    margin: 0 0.2rem;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

  }

